.img {
	 border:0; 
  padding:0;
  max-width:100px;
  max-height:100px;
  width:e-xpression(this.width>this.height?(this.width>100?"100":this.width):"");
  height:e-xpression(this.height>this.width?(this.height>100?"100":this.height):"");
}
.xsc{
	background-color:#999999;
	text-align:center;
	}
	p {
	font-size: 36px;
}
